@mixin y__align(
	$justify: flex-start,
	$items: flex-start,
	$content: flex-start
) {
	@include y__align--justify($justify);
	@include y__align--items($items);
	@include y__align--content($content);
}
@mixin y__align--all($value: flex-start) {
	@include y__align($value, $value, $value);
}
@mixin y__align--justify($value: flex-start) {
	justify-content: $value;
}
@mixin y__align--items($value: flex-start) {
	align-items: $value;
}
@mixin y__align--content($value: flex-start) {
	align-content: $value;
}
