@use 'sass:list' as LIST;
@use 'sass:string' as STRING;

@function split($string, $separator) {
  // empty array/list
  $split-arr: ();
  // first index of separator in string
  $index: STRING.index($string, $separator);
  // loop through string
  @while $index != null {
    // get the substring from the first character to the separator
    $item: STRING.slice($string, 1, $index - 1);
    // push item to array
    $split-arr: LIST.append($split-arr, $item);
    // remove item and separator from string
    $string: STRING.slice($string, $index + 1);
    // find new index of separator
    $index: STRING.index($string, $separator);
  }
  // add the remaining string to list (the last item)
  $split-arr: LIST.append($split-arr, $string);

  @return $split-arr;
}
