@mixin yk-box-sizing {
  * {
    box-sizing: border-box;
    &::after,
    &::before {
      box-sizing: border-box;
    }
  }
}
@mixin yek-flex($dir: row, $wrap: wrap) {
  display: flex;
  flex-direction: $dir;
  flex-wrap: $wrap;
}
@mixin yek-flex-row($wrap: wrap) {
  @include yek-flex($wrap: $wrap);
}
@mixin yek-flex-column($wrap: wrap) {
  @include yek-flex(column, $wrap: $wrap);
}
@mixin yek-grid($col: 1fr, $row: 1fr, $gap: 1px) {
  display: grid;
  grid-template-rows: $row;
  grid-template-columns: $col;
  grid-gap: $gap;
}
@mixin yek-align($justify: flex-start, $items: flex-start, $content: null) {
  justify-content: $justify;
  @if ($content) {
    align-content: $content;
  }
  @if ($items) {
    align-items: $items;
  }
}
@mixin yek-text($hor: left, $ver: top) {
  text-align: $hor;
  vertical-align: $ver;
}
@mixin yek-size($width: null, $height: null) {
  @if ($width) {
    width: $width;
  }
  @if ($height) {
    height: $height;
  }
}
