/* YEK (https://github.com/yek-org)
-------------------------------------- */
$yek-light: #fff;
$yek-black--500: #444857;
$yek-black--800: #1e1f26;
$yek-black--900: #1d1e22;
$yek-gray--100: #f9f9f9;
$yek-gray--400: #f4f4f4;
$yek-gray--500: #444;
$yek-blue--600: #69c;
@function _yek-btn--size($s: 'md') {
  $_s: map-get(
    (
      small: 42px,
      sm: 42px,
      medium: 60px,
      md: 60px,
      larg: 72px,
      lg: 72px,
    ),
    $s
  );
  @return $_s;
}
@mixin yek-flex($d: row, $w: wrap) {
  display: flex;
  flex-direction: $d;
  flex-wrap: $w;
}
@mixin yek-size($w: 100%, $h: 100%) {
  width: $w;
  height: $h;
}
@mixin yek-transition($dr: 0.5s, $dl: 0.3s, $tf: auto, $el: all) {
  transition: $dr $dl $el $tf;
}
@mixin yek-align($h: center, $v: space-evenly) {
  align-content: $h; // h
  justify-content: $v; // v
}
@mixin yek-center($d: row, $w: wrap) {
  @include yek-flex($d, $w);
  @include yek-align($v: center);
}
@mixin yek-button($s: 'md', $w: 144px) {
  $_size: _yek-btn--size($s);
  @include yek-size($w, $_size);
}
@mixin yek-fab($s: 'lg', $r: 1) {
  $_size: _yek-btn--size($s) * $r;
  @include yek-size($_size, $_size);
}
@mixin yek-radius($tl: false, $tr: false, $bl: false, $br: false, $a: false) {
  @if ($a) {
    border-radius: $a;
  } @else if $tl {
    border-top-left-radius: $tl;
  } @else if $tr {
    border-top-right-radius: $tr;
  } @else if $bl {
    border-bottom-left-radius: $bl;
  } @else if $br {
    border-bottom-right-radius: $br;
  }
}

// ---------------------------
// --- CODEPEN
// ---------------------------
$cpc-tab-bg: #131417;
$cpc-tab-fg: #999;
$cpc-tab-bg--open: #444857;
$cpc-tab-fg--open: #fff;
$cpc-box-bg: #131417;
$cpc-box-fg: #717790;
$cpc-context-bg: #fff;
@function cp-variant($c: 'tab') {
  @return map-get(
    (
      tab: (
        bg: $cpc-tab-bg,
        fg: $cpc-tab-fg,
      ),
      box: (
        bg: $cpc-box-bg,
        fg: $cpc-box-fg,
      ),
      tab-open: (
        bg: $cpc-tab-bg--open,
        fg: $cpc-tab-fg--open,
      ),
      context: (
        bg: $cpc-context-bg,
        fg: inherit,
      ),
    ),
    $c
  );
}
@mixin cp-variant($v) {
  background-color: map-get(cp-variant($v), bg);
  color: map-get(cp-variant($v), fg);
}
// colors
$cpc-dark: $yek-black--500;
